*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #888888;
    font-weight: 100;
}
#container-top,
 section{
    width: 62%;
    margin: 0 auto;
}

/* HEADER */
header{
    background: #888888;
    padding-bottom: 130px;
    padding-top: 50px;  
}

#titulo h2,
#titulo h1,
#titulo p,
footer p
{
    color: #fff;
}
nav ul {
    width: 90%;
    margin: 50px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 42px;
}
li{
    list-style: none;
}





/* Section formulário */
#section-formulario{
    margin-bottom: 78px;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-column-gap: 50px;
}

#texto-formulario h2{
    margin-bottom: 30px;
}

input[type=radio]{
    margin: 4px 0 16px 0;
}





/* Seção produtos */
#container-produtos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 22px;
    grid-row-gap: 22px;
}
.foto-produto{
    border: 1px solid #888888;
    max-width: 200px;
    max-height: 150px;
}

.descricao-produto p {
    margin: 4px 0;
}

.nome-produto{
    text-align: center;
    font-weight: 700;
    font-size: 1.571rem;
}


/* Section amigo */
#formulario-amigo{
    margin: 42px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 42px;
}





/* Footer */
footer{
    max-height: 240px;
    text-align: center;
    padding-top: 138px;
    margin-top: 70px;
    padding-bottom: 82px;
    background: #888888;
    position: relative;
}



/* ESTILOS GENÉRICOS  */
.btn{
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.8rem;
    line-height: 1.2em;
    border-radius: 4px;
    text-decoration: none;
    background: white;
    color: #888888;
    border: 1px solid #888888;
}
.btn-central{
    width: 30%;
    margin: 50px auto 0 auto;
}

.center{
    text-align: center;
}
.titulos-secundario{
    font-size: 1.4285rem;
    text-align: center;
    margin-bottom: 42px;
    margin-top: 50px;
}
input[type=text],
input[type=email]{
    width: 100%;
    border: 1px solid #707070;
    line-height: 2em;
}
.bold{
    font-weight: bold;
    font-size: 1.2em;
}
p + input{ /*Aplica espaçamento entre nome e o input*/
    margin: 8px 0 22px 0;
} 
h1{
    font-size: 2.857rem;
    font-weight: 900;
}
h2{
    font-size: 1.4285rem;
    font-weight: 300;
}




@media (max-width: 1199px) { 
    header, footer, section{
        width: 100%;
        padding: 0 18px;  
    }

    #formulario-amigo,
    #container-produtos,
    #section-formulario
    {
        display: block;
    }

    header{
        padding: 66px 0;
    }
    
    #titulo h1,
    #titulo h2,
    #titulo p{
        text-align: left;
        padding-left: 18px; 
    }
    nav ul{
        width: 90%;
        margin: 50px auto 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 18px;
        grid-row-gap: 18px;
    }

    .btn-central{
        width: 60%;
        margin: 50px auto 0 auto;
    }

    .item-produtos{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .foto-produto{
        max-width: 100%;
        border: 1px solid black;
    }

    
    #formulario-amigo{
        width: 100%;
    }

    footer{
        padding: 71px 30px;
    }

    #container-top{
        width: 100%;
    }
}

  

  
  